<!-- <nav
  class="navbar ligth-primary"
  role="navigation"
  aria-label="Navegação Principal"
>
  <div class="column">
    <div class="navbar-brand">
      <a
        class="navbar-item ligth-primary"
        aria-label="cardápio"
        data-target="#navMenu"
        href="/"
      >
        Mr. Kuro
      </a>

      <button
        type="button"
        class="navbar-menu-icon ligth-secondary navbar-item"
        (click)="changeIcon()"
        #displaymode
      >
        <mat-icon  aria-label="Example display mode icon" fontIcon="light_mode"
          >
        </mat-icon>
      </button>

      <button
        type="button"
        class="navbar-menu-icon ligth-secondary navbar-item"
        #menu_button
        (click)="displayMenu()"
      >
        <mat-icon aria-label="Example menu icon" fontIcon="menu"
          >menu
        </mat-icon>
      </button>
    </div>

    <div class="navbar-menu" #navMenu [hidden]="!isHidden">
      <div class="navbar-end">
        <a
          target="_blank"
          class="navbar-item ligth-primary"
          href="https://github.com/Mr-Kuro"
          >Github
        </a>
      </div>
      <div class="navbar-end">
        <a
          target="_blank"
          class="navbar-item ligth-primary"
          href="https://www.linkedin.com/in/mr-kuro/"
          >Linkedin
        </a>
      </div>
    </div>
  </div>
</nav> -->
