<footer class="section ligth-accent is-primary is-small has-text-centered">
  <div class=" column"><img class="logo" src="../../../assets/imgs/logo.png" alt=""
    />
    <div class="column is-centered">
      <div class=" small-box">
        <h1 class="big-text column is-size-4-touch has-text-weight-normal">
          " Para aproveitar o processo e garantir resultados, é necessário uma
          vida bem diversificada "
        </h1>
      </div>
    </div>
    <div class="social-icons">
      <p class="field">
        <a
          class="button is-medium"
          href="https://www.linkedin.com/in/mr-kuro/"
          target="_blank"
        >
          <i class="footer-icon devicon-linkedin-plain"></i> </a
        ><a
          class="button is-medium"
          href="https://github.com/Mr-Kuro"
          target="_blank"
        >
          <i class="footer-icon devicon-github-plain"></i> </a
        >
      </p>
    </div>
    <div class="copyright box">Code by: Mr. Kuro &copy;</div>
  </div>
</footer>
